GIZMOSQL_URL=grpc://host:port
GIZMOSQL_USERNAME=
GIZMOSQL_PASSWORD=

TUYA_DEVICE_ID=
TUYA_DEVICE_IP=
TUYA_DEVICE_KEY=

OPENWEATHER_API_KEY=

FRED_API_KEY=
OILPRICE_API_KEY=

YOUTUBE_API_KEY=

GEMINI_API_KEY=

LARANJEIRA_MATRIX_TOKEN=
LARANJEIRA_MATRIX_HOMESERVER=https://matrix.org
LARANJEIRA_MATRIX_ROOM_ID=!YpdxGumCzHEQQEgQUk:matrix.org